body {
    background-color: black;
}

.box {
    background-color: rgb(126, 126, 126);
    width: 1364px;
    height: 150px;
    margin-top: -40px;
    margin-left: -6px;
}

.title {
    margin-left: 37%;
    font-size: 2.5em;
    padding: 15px;
    color: white;
    
}

.texto{
    text-align: center;
    margin-top: -35px;
    font-size: 1.1em;
    color: rgb(202, 200, 200);
}

.rodape {
    background-color:rgb(126, 126, 126);
    width: 1364px;
    height: 157px;
    margin-left: -6px;
    margin-top: 100px;
}

h5 {
    margin-left: 45.5%;
    font-size: 1.5em;
    padding: 15px;
    color: white;
}
.text {
    text-align: center;
    margin-top: -35px;
    font-size: 1.1em;
    color: rgb(202, 200, 200);
}

.foto1, .foto2, .foto3 {
    background-color:rgb(126, 126, 126);
    width: 200px;
    height: 230px;
    margin-left: 200px;
    margin-top: 50px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 15px rgba(196, 183, 183, 0.507);
}
img {
    width: 100%;
    border-radius: 5px;
}

.foto1:hover, .foto2:hover, .foto3:hover {
    transform: scale(1.25,1.25);
}

.foto1:hover::after, .foto2:hover::after, .foto3:hover::after {
    opacity: 1;
}

.intro3, .intro2, .intro1 {
    color:rgb(202, 200, 200) ;
    margin-left: 12px;
    font-size: 1em;
}